@model TAP.Web.Areas.Account.Models.LogInViewModel

@{
    ViewData["Title"] = "Login";
}
<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
        {
            <div class="text-danger">
                <ul>
                    @foreach (var error in ViewData.ModelState.SelectMany(_ => _.Value.Errors))
                    {
                        <li>
                            @error.ErrorMessage
                        </li>
                    }
                </ul>
            </div>
            <div class="form-group">
                @Html.Label("Username", "Username")
                @Html.TextBoxFor(_ => _.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(_ => _.Username)
                <span asp-validation-for="title"></span>
            </div>
            <div class="form-group">
                @Html.Label("Password", "Password")
                @Html.TextBoxFor(_ => _.Password, new { type = "Password", @class = "form-control" })
                @Html.ValidationMessageFor(_ => _.Password)
            </div>
            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}